BETTER_AUTH_SECRET=better_auth_secret_key
BETTER_AUTH_URL=http://localhost:3000
DATABASE_URL=database_url
BETTER_AUTH_GITHUB_CLIENT_ID=github_client_id
BETTER_AUTH_GITHUB_CLIENT_SECRET=github_client_secret
BETTER_AUTH_OTP_RESEND_API_KEY=resend_api_key
ARCJET_API_KEY=arcjet_yourkey
AWS_ACCESS_KEY_ID=aws_access_key_id
AWS_SECRET_ACCESS_KEY=aws_secret_access_key
AWS_ENDPOINT_URL_S3=aws_endpoint_url_s3
AWS_ENDPOINT_URL_IAM=aws_endpoint_url_iam
AWS_REGION=aws_region
NEXT_PUBLIC_S3_BUCKET_NAME_IMAGES=s3_bucket_name_images